container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate file --noinput"
    leader_only: true
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate attribute --noinput"
    leader_only: true
  03_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate general --noinput"
    leader_only: true
  04_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate category --noinput"
    leader_only: true
  05_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate company --noinput"
    leader_only: true
  06_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate community --noinput"
    leader_only: true
  07_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate user_profile --noinput"
    leader_only: true
  08_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate employment --noinput"
    leader_only: true
  09_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate product --noinput"
    leader_only: true
  10_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate messaging --noinput"
    leader_only: true
  11_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate post --noinput"
    leader_only: true
  12_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate supply_request --noinput"
    leader_only: true
  13_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate hashtag --noinput"
    leader_only: true
  14_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  15_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
  16_loaddata:
    command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata seniority_label.json"
    leader_only: true








option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "catalog.settings.production"
    "PYTHONPATH": "/opt/python/current/app/catalog:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: catalog/wsgi.py
    NumProcesses: 1
    NumThreads: 15

